<div *ngIf="hasContent" [class.embedded]="isEmbedded" [class.closed]="isClosed">
  <div class="toc-heading" [class.secondary]="hasSecondary">
    Contents
    <button type="button" (click)="toggle()" *ngIf="hasSecondary"
      class="toc-show-all material-icons" [class.closed]="isClosed"
      title="Expand/collapse contents"
      aria-label="Expand/collapse contents">
    </button>
  </div>

  <ul class="toc-list" #toclist></ul>

  <button type="button" (click)="toggle()" *ngIf="hasSecondary"
    class="toc-more-items material-icons" [class.closed]="isClosed"
    title="Expand/collapse contents"
    aria-label="Expand/collapse contents">
  </button>
</div>
