<div *ngIf="hasContent" [class.embedded]="isEmbedded" [class.closed]="isClosed">
  <div *ngIf="!hasSecondary"class="toc-heading">Contents</div>
  <div *ngIf="hasSecondary" class="toc-heading secondary"
      (click)="toggle()"
      title="Expand/collapse contents"
      aria-label="Expand/collapse contents">
      Contents
      <button type="button"
        class="toc-show-all material-icons" [class.closed]="isClosed">
      </button>
  </div>

  <div class="toc-list" #toclist></div>

  <button type="button" (click)="toggle()" *ngIf="hasSecondary"
    class="toc-more-items material-icons" [class.closed]="isClosed"
    title="Expand/collapse contents"
    aria-label="Expand/collapse contents">
  </button>
</div>
